.tableDialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}
.dialogsItems .active{
    padding: 10px;
    color: orange;
}

.dialog{
    padding: 10px;

}

.messages{
    padding: 10px;

}

.message{
    padding: 10px;
}